    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" routerLink="/credentials-list">SPass</a></mdb-navbar-brand>
      
        <!-- Collapsible content -->
        <links>
      
          <!-- Links -->
          
          <!-- Links -->
      
          <ul class="navbar-nav ml-auto nav-flex-icons">
           
            <li class="nav-item">
              <a class="nav-link" routerLink="/add">
            
                <mdb-icon fas icon="plus"></mdb-icon>
              </a>
            </li>
            
          </ul>
        </links>
        <!-- Collapsible content -->
      
      </mdb-navbar>
      <!--/.Navbar-->
      