


  

  <div class="list-group" align="left" *ngFor="let credential of credentials ">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ credential.services }}</h5>
        <small>Last update: {{credential.dateCreated}} &nbsp;<mdb-icon fas icon="pen-square"></mdb-icon> &nbsp;<mdb-icon fas icon="minus-square"></mdb-icon></small>
        
      </div>
      <p class="mb-1" >User: {{ credential.user}}</p>
      <p class="mb-1" >Password: {{ credential.password}}</p>
    </a>
    
  </div>

  